.toastora-toast {
  --toast-bg-color: var(--toastora-default-bg, #ffffff);
  --toast-title-color: var(--toastora-default-title, #18181b);
  --toast-desc-color: var(--toastora-default-desc, #71717a);
  --toast-icon-color: var(--toastora-default-icon, #18181b);
  --toast-border-color: var(--toastora-default-border, #18181b);
  --toast-progress-color: var(--toastora-default-progress, #18181b);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  position: relative;
  padding: 12px 13px;
  border: solid;
  overflow: hidden;
  border-width: var(--toastora-border-width, 2px);
  border-radius: var(--toastora-border-radius, 10px);
  background-color: var(--toast-bg-color);
  border-color: var(--toast-border-color);
}

.toastora-toast--default-dark {
  --toast-bg-color: var(--toastora-default-bg-dark, #18181b);
  --toast-title-color: var(--toastora-default-title-dark, #fafafa);
  --toast-desc-color: var(--toastora-default-desc-dark, #a1a1aa);
  --toast-icon-color: var(--toastora-default-icon-dark, #fafafa);
  --toast-border-color: var(--toastora-default-border-dark, #fafafa);
  --toast-progress-color: var(--toastora-default-progress-dark, #fafafa);
}

.toastora-toast--success {
  --toast-bg-color: var(--toastora-success-bg, #ffffff);
  --toast-title-color: var(--toastora-success-title, #166534);
  --toast-desc-color: var(--toastora-success-desc, #15803d);
  --toast-icon-color: var(--toastora-success-icon, #166534);
  --toast-border-color: var(--toastora-success-border, #166534);
  --toast-progress-color: var(--toastora-success-progress, #166534);
}
.toastora-toast--success-dark {
  --toast-bg-color: var(--toastora-success-bg-dark, #18181b);
  --toast-title-color: var(--toastora-success-title-dark, #4ae683);
  --toast-desc-color: var(--toastora-success-desc-dark, #a1a1aa);
  --toast-icon-color: var(--toastora-success-icon-dark, #4ae683);
  --toast-border-color: var(--toastora-success-border-dark, #4ae683);
  --toast-progress-color: var(--toastora-success-progress-dark, #4ae683);
}

.toastora-toast--error {
  --toast-bg-color: var(--toastora-error-bg, #ffffff);
  --toast-title-color: var(--toastora-error-title, #991b1b);
  --toast-desc-color: var(--toastora-error-desc, #b91c1c);
  --toast-icon-color: var(--toastora-error-icon, #991b1b);
  --toast-border-color: var(--toastora-error-border, #991b1b);
  --toast-progress-color: var(--toastora-error-progress, #991b1b);
}
.toastora-toast--error-dark {
  --toast-bg-color: var(--toastora-error-bg-dark, #18181b);
  --toast-title-color: var(--toastora-error-title-dark, #f36161);
  --toast-desc-color: var(--toastora-error-desc-dark, #a1a1aa);
  --toast-icon-color: var(--toastora-error-icon-dark, #f36161);
  --toast-border-color: var(--toastora-error-border-dark, #f36161);
  --toast-progress-color: var(--toastora-error-progress-dark, #f36161);
}

.toastora-toast--info {
  --toast-bg-color: var(--toastora-info-bg, #ffffff);
  --toast-title-color: var(--toastora-info-title, #1e40af);
  --toast-desc-color: var(--toastora-info-desc, #1d4ed8);
  --toast-icon-color: var(--toastora-info-icon, #1e40af);
  --toast-border-color: var(--toastora-info-border, #1e40af);
  --toast-progress-color: var(--toastora-info-progress, #1e40af);
}
.toastora-toast--info-dark {
  --toast-bg-color: var(--toastora-info-bg-dark, #18181b);
  --toast-title-color: var(--toastora-info-title-dark, #549bed);
  --toast-desc-color: var(--toastora-info-desc-dark, #a1a1aa);
  --toast-icon-color: var(--toastora-info-icon-dark, #549bed);
  --toast-border-color: var(--toastora-info-border-dark, #549bed);
  --toast-progress-color: var(--toastora-info-progress-dark, #549bed);
}

.toastora-toast--warning {
  --toast-bg-color: var(--toastora-warning-bg, #ffffff);
  --toast-title-color: var(--toastora-warning-title, #92400e);
  --toast-desc-color: var(--toastora-warning-desc, #b45309);
  --toast-icon-color: var(--toastora-warning-icon, #92400e);
  --toast-border-color: var(--toastora-warning-border, #92400e);
  --toast-progress-color: var(--toastora-warning-progress, #92400e);
}
.toastora-toast--warning-dark {
  --toast-bg-color: var(--toastora-warning-bg-dark, #18181b);
  --toast-title-color: var(--toastora-warning-title-dark, #e8bf38);
  --toast-desc-color: var(--toastora-warning-desc-dark, #a1a1aa);
  --toast-icon-color: var(--toastora-warning-icon-dark, #e8bf38);
  --toast-border-color: var(--toastora-warning-border-dark, #e8bf38);
  --toast-progress-color: var(--toastora-warning-progress-dark, #e8bf38);
}

.toastora-toast__icon-wrapper {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--toast-icon-color);
}

.toastora-toast__content-wrapper {
  flex: 1;
  margin-left: 12px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* gap: 2px; */
}

.toastora-toast__title {
  margin: 0%;
  font-size: var(--toastora-title-font-size, 16px);
  font-weight: var(--toastora-title-font-weight, 600);
  text-wrap: pretty;
  white-space: pre-wrap;
  color: var(--toast-title-color);
  line-height: var(--toastora-title-line-height, 20px);
  text-align: start;
  overflow-wrap: anywhere;
}

.toastora-toast__desc {
  margin: 0%;
  font-size: var(--toastora-desc-font-size, 12px);
  font-weight: var(--toastora-desc-font-weight, 400);
  color: var(--toast-desc-color);
  text-wrap: pretty;
  white-space: pre-wrap;
  line-height: var(--toastora-desc-line-height, 16px);
  text-align: start;
  overflow-wrap: anywhere;
}

.toastora-toast__dismiss-btn-wrapper {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--toast-icon-color);
}

.toastora-toast__dismiss-btn {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toastora-toast__progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  animation-name: toastora-progress;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  background-color: var(--toast-progress-color);
}

@keyframes toastora-progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@media (max-width: 600px) {
  .toastora-toast {
    width: 100%;
  }
}
