.toastora-toasts,
.toastora-toasts *,
.toastora-toasts *::before,
.toastora-toasts *::after {
  box-sizing: border-box;
}

.toastora-toasts {
  z-index: 9999;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.toastora-toasts--top-right {
  top: 10px;
  right: 10px;
  --slide-x: 100%;
}

.toastora-toasts--top-left {
  top: 10px;
  left: 10px;
  --slide-x: -100%;
}

.toastora-toasts--bottom-right {
  bottom: 10px;
  right: 10px;
  --slide-x: 100%;
}

.toastora-toasts--bottom-left {
  bottom: 10px;
  left: 10px;
  --slide-x: -100%;
}

@media (max-width: 600px) {
  .toastora-toasts {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }

  .toastora-toasts--top-right {
    top: 10px;
    right: 0;
  }

  .toastora-toasts--top-left {
    top: 10px;
    left: 0;
  }

  .toastora-toasts--bottom-right {
    bottom: 10px;
    right: 0;
  }

  .toastora-toasts--bottom-left {
    bottom: 10px;
    left: 0;
  }
}
